/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/phpunit.xml
/build/
/vendor/*
/bin/
/composer.phar
composer.json
!/app/config/parameters.yml
!app/cache/.gitkeep
!app/logs/.gitkeep
!/vendor/stg/
!/vendor/doctrine/dbal/lib/Doctrine/DBAL/Platforms/MySqlPlatform.php
