{% extends '::base.html.twig' %}

{% block cuerpo %} 

    {{form_start(form)}}
    {{form_end(form)}}
    
    {% if mensaje != '' %}
        
        <p> {{ mensaje }} </p>
        
    {% endif %}
    
{% endblock %}
