{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}
    
{% block cuerpo %} 

    <div>
	<div class="ui-widget">
		<div style="padding: 10px; margin-top: 20px; margin-bottom: 20px" class="ui-state-error ui-corner-all">
			<p>
				<span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"> </span> 
                                <strong> {{ titulo }}  </strong> 
                                {{ msg }} 
			</p>
                        <strong>Debug</strong>
                        <p> {{ debug|raw }} </p>
		</div>
	</div>
</div>
    
{% endblock %}