{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}


{% block cuerpo %} 

    <h2>Test Web Services Salas</h2>

    {{form_start(form)}}
       
    {{form_end(form)}}

{% endblock %}