{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}


{% block cuerpo %} 

    <h2>Test Web Services Camas</h2>

    
    {{form_start(form)}}
        
    {{form_end(form)}}
    
    <script>
        
        var $efectores = $('#test_ws_camas_efectores');
        var $habitaciones = $('#test_ws_camas_habitaciones');
        
        
        $efectores.change(function() {
            
            refresh_combos(0,this);
        });
        
                
        $habitaciones.change(function() {
        
            refresh_combos(1,this);

        });
        
        
        // 0: salas
        // 1: habitaciones
        // 2: camas
        function refresh_combos(combo,obj){
            
            // form
            var $form = $(obj).closest('form');
          
            // captura datos
            switch(combo) {
                
                case 0:
                    
                    id_efector = $efectores.val();
                    id_habitacion = '';
                
                    break;
                    
                case 1:
                    
                    id_efector = $efectores.val();
                    id_habitacion = $habitaciones.val();
                    
                    break;
                                                            
            }
                    
            // set arreglo de datos AJAX
            var data = {};
            data[$efectores.attr('name')] = id_efector;
            data[$habitaciones.attr('name')] = id_habitacion;
            
            
            console.log(data);
            
            // submit AJAX
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                
                    console.log(html);

                    switch(combo) {

                        case 0: 

                            // habitaciones
                            $('#test_ws_camas_habitaciones').replaceWith(

                                $(html).find('#test_ws_camas_habitaciones')
                            );

                            // sala
                            $('#test_ws_camas_sala').replaceWith(

                                $(html).find('#test_ws_camas_sala')
                            );

                            // refresh listener
                            $habitaciones = $('#test_ws_camas_habitaciones');

                            $habitaciones.change(function() {

                                refresh_combos(1,this);

                            });

                            break;

                        case 1:

                            // sala
                            $('#test_ws_camas_sala').replaceWith(

                                $(html).find('#test_ws_camas_sala')
                            );


                            break;
                    }


                }

            });

        }
        
        
        
    </script>
   
            
{% endblock %}

