{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}


{% block cuerpo %} 

    <h2>Red Internacion Test</h2>

    <a href="/test/camas">test camas</a>
    
    <a href="/test/habitaciones">test habitaciones</a>
    
    <a href="/test/salas">test salas</a>

{% endblock %}

