{# ejemplo.html.twig #}

{# De esta manera podemos extender la vista base definida para nuestra vista. #}
{% extends 'ThemeAplicativoBundle:Default:baseGuaycuru.html.twig' %}

{% block styles %}
{% endblock %}

{% block javascripts %} 
    <script>
        
        function prueba(){
            var pru="prueba";
            
            alert(pru);
        }
        
    </script>
{% endblock %} 

{% block jquery %}
    
{% endblock %}
        
{% block barraHerramientas %}

{% endblock %}

{% block menu %}

{% endblock %}

{% block submenus %}

{% endblock %}

{% block cuerpo %}
    
    <label for="search">Search: </label>
<input id="search">
{% endblock %}



{% block postbody %}
    <script>
  $( function() {
    $.widget( "custom.catcomplete", $.ui.autocomplete, {
      _create: function() {
        this._super();
        this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
      },
      _renderMenu: function( ul, items ) {
        var that = this,
          currentCategory = "";
        $.each( items, function( index, item ) {
          var li;
          if ( item.category != currentCategory ) {
            ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
            currentCategory = item.category;
          }
          li = that._renderItemData( ul, item );
          if ( item.category ) {
            li.attr( "aria-label", item.category + " : " + item.label );
          }
        });
      }
    });
    var data = [
      {% for cama in camas %}
      { label: "{{ cama.nombre }}", category: "{{ cama.idEfector.nomEfector }} - {{ cama.idHabitacion.idSala.nombre }} - {{ cama.idHabitacion.nombre }}" },
      {% endfor %}
      { label: "fin lista", category: "" }
    ];
 
    $( "#search" ).catcomplete({
      delay: 0,
      source: data
    });
  } );
  </script>
{% endblock %}