{% include 'ThemeAplicativoBundle:Default:base.html.twig' %}

{% block body %}
<div class="row">
	<div class="twelvecol buttons">
		<ul class="menu">
			<li><a href="#" target="_top" class="opcion1" class="">INICIO</a></li>
			<li><a href="#" target="_top" class="opcion2">MAS OPCIONES</a></li>
		</ul>
	</div>
</div>

<!-- renglon oculto -->
<div class="row submenu opcion1_grupo">
	<div class="twelvecol sub-menu">
		<ul>
			<li><a href="#" target="_top" class="sub-menu-active">BOTON</a></li>
			<li><a href="#" target="_top">BOTON</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>

<div class="row submenu opcion2_grupo">
	<div class="twelvecol sub-menu">
		<ul>
			<li><a href="#" target="_top" class="sub-menu-active">OTRA OPCION</a></li>
			<li><a href="#" target="_top">MAS Y MAS</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>

<div class="row">
	<div class="twelvecol dependence-name">
		<p>Inicio</p>
	</div>
</div>

<div class="row">
	<div class="twelvecol tool-bars">
		<ul class="ui-widget ui-helper-clearfix" id="icons">

			<li id="ver_ayuda" title="Clic para ver ayuda" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-info"></span></li>
			<li title="" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-carat-1-n"></span></li>
			<li title="" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-carat-1-ne"></span></li>

		</ul>
		<div class="clear"></div>
	</div>
</div>

<div class="row form">
	<form>
		<div class="row">

			<div class="fourcol">
				<input name="folio" type="radio" value="folio-personal"> <label class="css-checkbox"><span>Folio personal o cronológico</span> </label> <input name="folio" type="checkbox" value="propiedad-horizontal"> <label>Propiedad Horizontal</label>
			</div>

			<div class="fourcol">
				<input class="css-checkbox" name="folio" type="radio" value="folio-real"> <label><span>Folio real</span> </label>
			</div>

			<div class="fourcol last"></div>
		</div>

		<div class="row">
			<div class="fourcol" style="margin-top: 10px;">
				<label>Departamento</label> <input name="departamento" type="text" class="input required" placeholder="departamento">
			</div>

			<div class="fourcol" style="margin-top: 10px;">
				<label>Distrito</label> <input name="distrito" type="text" class="input" placeholder="Ingrese un distrito">
			</div>

			<div class="fourcol last" style="margin-top: 10px;">
				<label>Subdistrito</label> <input name="subdistrito" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<div class="fourcol" style="margin-top: 10px;">
				<div class="fourcol">
					<label>Depto</label> <input name="depto" type="text" class="input">
				</div>

				<div class="eightcol last">
					<label>Matrícula</label> <input name="matricula" type="text" class="input">
				</div>
			</div>

			<div class="fourcol" style="margin-top: 10px;">
				<label>Submatrícula</label> <input name="submatricula" type="text" class="input">
			</div>

			<div class="fourcol last" style="margin-top: 10px;"></div>
		</div>
	</form>
</div>

<div class="row form">
	<form>
		<div class="row">
			<h3>Nomenclatura Catastral Provincial</h3>

			<div class="threecol">
				<label>Departamento</label> <input name="departamento" type="text" class="input"> <label>Manzana</label> <input name="manzana" type="text" class="input">
			</div>

			<div class="threecol">
				<label>Distrito</label> <input name="distrito" type="text" class="input"> <label>Parcela</label> <input name="parcela" type="text" class="input">
			</div>

			<div class="threecol">
				<label>Subdistrito</label> <input name="subdistrito" type="text" class="input"> <label>Subparcela</label> <input name="subparcela" type="text" class="input">
			</div>

			<div class="threecol last">
				<label>Secc. / Polig.</label> <input name="secc" type="text" class="input">
			</div>
		</div>
	</form>
</div>

<div class="row form">
	<form>
		<div class="row">
			<h3>Impuesto Inmobiliario</h3>

			<div class="fourcol">
				<label>Partida</label> <input name="partida" type="text" class="input"> <label>Valuación Terreno</label> <input name="valuacion-terreno" type="text" class="input"> <label>Fecha de Valuación</label> <input id="fecha-valuacion"
					name="fecha-valuacion" type="text" class="input campo_fecha">
			</div>

			<div class="fourcol">
				<label>Subpartida</label> <input name="subpartida" type="text" class="input"> <label>Valuación Edificio</label> <input name="valuacion-edificio" type="text" class="input">
			</div>

			<div class="fourcol last">
				<label>Dígito Verif.</label> <input name="digito-verif" type="text" class="input"> <label>Valuación Total</label> <input name="valuacion-total" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<fieldset>
				<div class="fourcol">
					<label>Categoría de Acto</label> <input name="categoria-de-acto" type="text" class="input">
				</div>

				<div class="fourcol">
					<label>Acto</label> <input name="acto" type="text" class="input">
				</div>

				<div class="fourcol last"></div>
			</fieldset>
		</div>

		<div class="row">
			<div class="fourcol">
				<input name="grado-hipoteca" type="checkbox" value=""> <label>Grado de la hipoteca</label> <input name="urgente" type="checkbox" value=""> <label>Urgente</label>
			</div>

			<div class="fourcol"></div>

			<div class="fourcol last"></div>
		</div>

		<div class="row">
			<div class="twelvecol">
				<table class="table table-condensed table-hover table-striped" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th colspan="5" scope="col">Monto</th>
					</tr>
					<tr>
						<td class="columns-dest">Moneda</td>
						<td class="columns-dest">Monto</td>
						<td class="columns-dest">Obs</td>
						<td class="columns-dest"></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>
							<button title="Previsualizar" class="opciones">P</button>
							<button title="Editar" class="opciones">E</button>
							<button title="Borrar" class="opciones">B</button>
						</td>
					</tr>
					<tr>

						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>
							<button title="Previsualizar" class="opciones">P</button>
							<button title="Editar" class="opciones">E</button>
							<button title="Borrar" class="opciones">B</button>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>
							<button title="Previsualizar" class="opciones">P</button>
							<button title="Editar" class="opciones">E</button>
							<button title="Borrar" class="opciones">B</button>
						</td>
					</tr>

				</table>

				<nav class="pagination">

					<ul>
						<li><a rel="prev" href="">&larr;</a></li>
						<li><a rel="first" href="">1</a></li>
						<li><a class="current" href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a rel="next" href="">&rarr;</a></li>
					</ul>

				</nav>

			</div>
		</div>

		<fieldset>
			<div class="row">
				<h4>Monto cautelares</h4>

				<div class="threecol">
					<label>Moneda</label> <input name="moneda" type="text" class="input"> <input name="reajustable" type="checkbox" value=""> <label>Reajustable</label>
				</div>

				<div class="threecol">
					<label>Monto total</label> <input name="monto-total" type="text" class="input">
				</div>

				<div class="threecol">
					<label>Capital</label> <input name="capital" type="text" class="input">
				</div>

				<div class="threecol last">
					<label>Intereses y Costas</label> <input name="intereses-costas" type="text" class="input">
				</div>

				<div class="twelvecol">
					<label>Si se hubiese decretado sin monto, aclarar el motivo</label>
					<textarea name="" cols="" rows=""></textarea>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div class="row form">
	<form>
		<div class="row">
			<h3>Titulares Inscriptos</h3>

			<div class="twocol">
				<input name="tit-inscrip" type="radio" value="persona-fisica"> <label>Persona Física</label>
			</div>

			<div class="twocol">
				<input name="tit-inscrip" type="radio" value="persona-juridica"> <label>Persona Jurídica</label>
			</div>

			<div class="eightcol last"></div>
		</div>

		<div class="row row-dest">
			<div class="twocol">
				<input name="tit-inscrip" type="radio" value="titular"> <label>Titular</label>
			</div>

			<div class="twocol">
				<input name="tit-inscrip" type="radio" value="Sujeto-pasivo"> <label>Sujeto Pasivo</label>
			</div>

			<div class="eightcol last"></div>
		</div>

		<div class="row">
			<div class="fourcol">
				<label>Intereses y Costas</label> <input name="intereses-costas" type="text" class="input">
			</div>

			<div class="fourcol">
				<label>Intereses y Costas</label> <input name="intereses-costas" type="text" class="input">
			</div>

			<div class="fourcol last">
				<label>Intereses y Costas</label> <input name="intereses-costas" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<div class="fourcol">
				<div class="fourcol">
					<label>Documento</label> <select name="documento"></select>
				</div>

				<div class="eightcol last">
					<label></label> <input name="matricula" type="text" class="input">
				</div>
			</div>

			<div class="fourcol">
				<label>CUIT/CUIL/CDI</label> <input name="cuit-cuil-cdi" type="text" class="input" placeholder="XX-XXXXXXXXX-X">
			</div>

			<div class="fourcol last"></div>
		</div>

		<div class="row">
			<div class="threecol">
				<label>Fecha de Nacimiento</label> <input name="fecha-nacimiento" type="text" class="input campo_fecha">
			</div>

			<div class="threecol">
				<label>Nacionalidad</label> <select name="nacionalidad"></select>
			</div>

			<div class="threecol">
				<label>Estado Civil</label> <select name="estado-civil"></select>
			</div>

			<div class="threecol last">
				<label>Nupcias</label> <input name="nupcias" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<div class="sixcol">
				<label>Cónyuge</label> <input name="conyuge" type="text" class="input">
			</div>

			<div class="sixcol last">
				<label>Domicilio</label> <input name="domicilio" type="text" class="input">
			</div>
		</div>

		<fieldset>
			<div class="row">
				<div class="sixcol">
					<label>Parentesco</label> <input name="parentesco" type="text" class="input">
				</div>

				<div class="sixcol last">
					<label>Acta</label> <input name="acta" type="text" class="input">
				</div>
			</div>
		</fieldset>

		<div class="row">
			<div class="twelvecol">
				<input name="tit-inscrip" type="checkbox" value="pep"> <label>P.E.P.</label> <input name="tit-inscrip" type="checkbox" value="radicado-exterior"> <label>Radicado en el exterior</label> <input name="tit-inscrip" type="checkbox"
					value="radicado-fiscal"> <label>Radicado en Paraíso Fiscal</label>
			</div>
		</div>
	</form>
</div>

<div class="row form">
	<form>
		<div class="row">
			<h3>Titulares a Inscribir</h3>

			<div class="twelvecol">
				<input name="tit-inscrb" type="radio" value="persona-fisica"> <label>Persona Física</label> <input name="tit-inscrb" type="radio" value="persona-juridica"> <label>Persona Jurídica</label>
			</div>
		</div>

		<div class="row">
			<div class="fourcol">
				<label>Apellido</label> <input name="apellido" type="text" class="input">
			</div>

			<div class="fourcol">
				<label>Nombres</label> <input name="nombres" type="text" class="input">
			</div>

			<div class="fourcol last">
				<label>Apellido Materno</label> <input name="apellido-materno" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<div class="fourcol">
				<div class="fourcol">
					<label>Documento</label> <select name="documento"></select>
				</div>

				<div class="eightcol last">
					<label></label> <input name="matricula" type="text" class="input">
				</div>
			</div>

			<div class="fourcol">
				<label>CUIT/CUIL/CDI</label> <input name="cuit-cuil-cdi" type="text" class="input">
			</div>

			<div class="fourcol last">
				<label>Sexo</label> <br> <input name="sexo" type="radio" value="masculino"> <label>Masculino</label> <input name="sexo" type="radio" value="femenino"> <label>Femenino</label>
			</div>
		</div>

		<div class="row">
			<div class="threecol">
				<label>Fecha de Nacimiento</label> <input name="fecha-nacimiento" type="text" class="input campo_fecha">
			</div>

			<div class="threecol">
				<label>Nacionalidad</label> <select name="nacionalidad"></select>
			</div>

			<div class="threecol">
				<label>Estado Civil</label> <select name="estado-civil"></select>
			</div>

			<div class="threecol last">
				<label>Nupcias</label> <input name="nupcias" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<div class="sixcol">
				<label>Cónyuge</label> <input name="conyuge" type="text" class="input">
			</div>

			<div class="sixcol last">
				<label>Domicilio</label> <input name="domicilio" type="text" class="input">
			</div>
		</div>

		<fieldset>
			<div class="row">
				<div class="sixcol">
					<label>Parentesco</label> <input name="parentesco" type="text" class="input">
				</div>

				<div class="sixcol last">
					<label>Acta</label> <input name="acta" type="text" class="input">
				</div>
			</div>
		</fieldset>

		<div class="row">
			<div class="twelvecol">
				<input name="tit-inscrb" type="checkbox" value="pep"> <label>P.E.P.</label> <input name="tit-inscrb" type="checkbox" value="radicado-exterior"> <label>Radicado en el exterior</label> <input name="tit-inscrb" type="checkbox"
					value="radicado-fiscal"> <label>Radicado en Paraíso Fiscal</label>
			</div>
		</div>
	</form>
</div>

<div class="row form">
	<form>
		<div class="row">
			<h3>Inmueble</h3>

			<div class="fourcol">
				<label>Departamento</label> <input name="departamento" type="text" class="input" placeholder="departamento"> <label>Subdistrito</label> <input name="subdistrito" type="text" class="input">
			</div>

			<div class="fourcol">
				<label>Distrito</label> <input name="distrito" type="text" class="input"> <label>Calle y N°</label> <input name="calle" type="text" class="input">
			</div>

			<div class="fourcol last">
				<label>Zona</label> <select name="zona"></select> <label>Entre Calles</label> <input name="entre-calles" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<div class="threecol">
				<label>Número Plano</label> <input name="num-plano" type="text" class="input">
			</div>

			<div class="threecol">
				<label>Año</label> <input name="anio" type="text" class="input">
			</div>

			<div class="threecol">
				<label>Lote</label> <input name="lote" type="text" class="input">
			</div>

			<div class="threecol last">
				<label>Manzana</label> <input name="manzana" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<div class="sixcol">
				<label>Superficie</label> <input name="superficie" type="text" class="input">
			</div>

			<div class="sixcol last">
				<label>Arranque</label> <input name="arranque" type="text" class="input">
			</div>
		</div>

		<fieldset>
			<div class="row">
				<div class="twelvecol" style="margin-bottom: 10px;">
					<label>Medidas y Linderos</label>
					<textarea name="medidas-linderos" cols="" rows=""></textarea>
				</div>
			</div>

			<div class="row">
				<h4>Certificado Catastral</h4>

				<div class="threecol">
					<label>Número</label> <input name="numero" type="text" class="input">
				</div>

				<div class="threecol">
					<label>Fecha</label> <input name="fecha" type="text" class="input campo_fecha">
				</div>

				<div class="sixcol last"></div>

				<div class="twelvecol">
					<label>Observaciones</label> <input name="observaciones" type="text" class="input" style="width: 98.5%;">
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="row">
				<h4>Datos de PH</h4>

				<div class="threecol">
					<label>Unidad</label> <input name="unidad" type="text" class="input"> <label>Superficie exclusiva (m&sup2;)</label> <input name="sup-exclusiva" type="text" class="input">
				</div>

				<div class="threecol">
					<label>Parcela</label> <input name="parcela" type="text" class="input"> <label>Común</label> <input name="comun" type="text" class="input">
				</div>

				<div class="threecol">
					<label>Número Plano</label> <input name="num-plano" type="text" class="input"> <label>Valor Proporcional</label> <input name="valor-proporcional" type="text" class="input">
				</div>

				<div class="threecol last">
					<label>Año</label> <input name="anio" type="text" class="input"> <label>Planta</label> <input name="planta" type="text" class="input">
				</div>
			</div>

			<div class="row">
				<div class="twelvecol">
					<label>Destino</label> <input name="destino" type="text" class="input" style="width: 98.5%;">
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div class="row form">
	<form>
		<div class="row">
			<h3>Antecedente Registral</h3>

			<div class="threecol">
				<label>Tipo</label> <select name="tipo"></select>
			</div>

			<div class="onecol">
				<label>Año</label> <input name="anio" type="text" class="input">
			</div>

			<div class="onecol">
				<label>Tomo</label> <input name="tomo" type="text" class="input">
			</div>

			<div class="onecol">
				<label>Par</label> <input name="par" type="text" class="input">
			</div>

			<div class="onecol">
				<label>Letra</label> <input name="letra" type="text" class="input">
			</div>

			<div class="onecol">
				<label>Folio</label> <input name="folio" type="text" class="input">
			</div>

			<div class="onecol">
				<label>Bis</label> <input name="bis" type="text" class="input">
			</div>

			<div class="onecol">
				<label>Vuelto</label> <input name="vuelto" type="text" class="input">
			</div>

			<div class="twocol last">
				<label>Número</label> <input name="numero" type="text" class="input" style="width: 90%;">
			</div>
		</div>

		<div class="row">
			<div class="onecol">
				<label>Bis</label> <input name="bis" type="text" class="input">
			</div>

			<div class="twocol">
				<label>Fecha</label> <input name="fecha" type="text" class="input campo_fecha">
			</div>

			<div class="tencol last"></div>
		</div>

		<fieldset>
			<div class="row">
				<h4>Certificación Registral Previa</h4>

				<div class="threecol">
					<label>Número</label> <select name="numero"></select>
				</div>

				<div class="onecol">
					<label>Bis</label> <input name="bis" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Fecha</label> <input name="fecha" type="text" class="input campo_fecha">
				</div>

				<div class="sixcol last"></div>
			</div>
		</fieldset>

		<fieldset>
			<div class="row">
				<h4>Tipo de documento a Registrar</h4>

				<div class="threecol">
					<label>Tipo de documento</label> <select name="tipo-doc"></select>
				</div>

				<div class="ninecol last"></div>
			</div>
		</fieldset>

		<fieldset>
			<div class="row">
				<h4>Documentación Notarial</h4>

				<div class="sixcol">
					<label>Juzgado o Repartición</label> <input name="juzgado" type="text" class="input">
				</div>

				<div class="threecol">
					<label>Registro</label> <input name="registro" type="text" class="input">
				</div>

				<div class="threecol last">
					<label>Matrícula</label> <input name="matricula" type="text" class="input">
				</div>
			</div>

			<div class="row">
				<div class="ninecol">
					<label>Domicilio</label> <input name="domicilio" type="text" class="input" style="width: 98.5%;">
				</div>

				<div class="threecol last">
					<label>Localidad</label> <input name="localidad" type="text" class="input">
				</div>
			</div>

			<div class="row">
				<div class="twocol">
					<label>Escritura N°</label> <input name="escritura" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Folio N°</label> <input name="folio" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Fecha</label> <input name="fecha" type="text" class="input campo_fecha">
				</div>

				<div class="threecol">
					<label>Fecha del contrato</label> <input name="fecha-contrato" type="text" class="input campo_fecha">
				</div>

				<div class="threecol last"></div>
			</div>
		</fieldset>

		<fieldset>
			<div class="row">
				<h4>Documentación Administrativa o Judicial</h4>

				<div class="sixcol">
					<label>Juzgado o Repartición</label> <input name="juzgado" type="text" class="input" style="width: 98%;">
				</div>

				<div class="sixcol last">
					<label>Autos</label> <input name="autos" type="text" class="input" style="width: 98%;">
				</div>
			</div>

			<div class="row">
				<div class="ninecol">
					<label>Profesional</label> <input name="profesional" type="text" class="input"> <label>Domicilio</label> <input name="domicilio" type="text" class="input">
				</div>

				<div class="threecol last">
					<label>Matrícula</label> <input name="matricula" type="text" class="input"> <label>Localidad</label> <input name="localidad" type="text" class="input">
				</div>
			</div>

			<div class="row">
				<div class="twocol">
					<label>Expediente N°</label> <input name="expediente" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Año</label> <input name="anio" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Resolución N°</label> <input name="resolucion" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Fecha</label> <input name="fecha" type="text" class="input campo_fecha">
				</div>

				<div class="twocol">
					<label>Oficio N°</label> <input name="oficio" type="text" class="input">
				</div>

				<div class="twocol last">
					<label>Fecha</label> <input name="fecha" type="text" class="input campo_fecha">
				</div>
			</div>

			<div class="row">
				<div class="fourcol">
					<label>Localidad</label> <input name="localidad" type="text" class="input">
				</div>

				<div class="eightcol last"></div>
			</div>

			<div class="row">
				<div class="twelvecol">
					<label>Observaciones</label>
					<textarea name="observaciones" cols="" rows=""></textarea>

					<label>Anexos</label> <input name="anexos" type="text" class="input" style="width: 98.5%;">
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div class="row form">
	<form>
		<div class="row">
			<h3>Organismos Públicos y de Servicios</h3>

			<h4>Municipio</h4>

			<div class="twocol">
				<label>Cuenta N°</label> <input name="cuenta" type="text" class="input">
			</div>

			<div class="twocol">
				<label>Sección</label> <input name="seccion" type="text" class="input">
			</div>

			<div class="twocol">
				<label>Manzana</label> <input name="manzana" type="text" class="input">
			</div>

			<div class="twocol">
				<label>Gráfico</label> <input name="grafico" type="text" class="input">
			</div>

			<div class="twocol">
				<label>Subdivisión</label> <input name="subdivision" type="text" class="input">
			</div>

			<div class="twocol last">
				<label>S/P</label> <input name="sp" type="text" class="input">
			</div>
		</div>

		<fieldset>
			<div class="row">
				<h4>Aguas Provinciales</h4>

				<div class="twocol">
					<label>Cuenta N°</label> <input name="cuenta" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Sección</label> <input name="seccion" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Manzana</label> <input name="manzana" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Gráfico</label> <input name="grafico" type="text" class="input">
				</div>

				<div class="twocol">
					<label>Subdivisión</label> <input name="subdivision" type="text" class="input">
				</div>

				<div class="twocol last">
					<label>S/P</label> <input name="sp" type="text" class="input">
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div class="row form">
	<form>
		<div class="row">
			<h3>Solicitante</h3>

			<div class="fourcol">
				<label>Apellido</label> <input name="apellido" type="text" class="input">
			</div>

			<div class="eightcol last">
				<label>Nombres</label> <input name="nombres" type="text" class="input" style="width: 98%;">
			</div>
		</div>

		<div class="row">
			<div class="sevencol">
				<label>Profesión</label> <input name="profesion" type="text" class="input">
			</div>

			<div class="fivecol last">
				<label>Registro o Matricula</label> <input name="registro-matricula" type="text" class="input">
			</div>
		</div>

		<div class="row">
			<div class="sixcol">
				<label>Domicilio</label> <input name="domicilio" type="text" class="input" style="width: 97.5%;">
			</div>

			<div class="sixcol last">
				<label>Teléfono</label> <input name="telefono" type="text" class="input" style="width: 97.5%;">
			</div>
		</div>
	</form>
</div>

<div class="row">
	<form>
		<button>IMPRIMIR</button>

		<button>PAGAR</button>

		<button>GUARDAR</button>

		<button>VOLVER</button>

		<div class="clear"></div>
	</form>
</div>
{% endblock %}
