{% extends '::base.html.twig' %}

{% block cuerpo %} 

    <div class="row form">
    <h3 style="text-align: center">Logger</h3>
    <h4 style="text-align: center">Triggers</h4>

    {{form_start(form)}}
    {{form_end(form)}}
    
    </div>
    
{% endblock %}