{% extends 'base.html.twig' %}

{% block cuerpo %} 

    <div class="row form">
        
    <div class="col-md-12">
        <strong>¡ Gracias por utilizar Red Internación !</strong>
    </div>
    <div class="col-md-12">
        Creado por: Sectorial de Informática - Ministerio de Salud - Santa Fe
    </div>
    <div class="col-md-12">
        Contacto: 4571929 int 3204/3127
    </div>
    
    </div>
{% endblock %}
