.ri_jqtree_conexion {
    font-weight: bold;
    font-size: 120%;
}

.ri_jqtree_info {
    font-weight: bold;
    font-size: 110%;
}

.ri_jqtree_datos {
    font-weight: bold;
    background-color: white;
}

.ri_jqtree_foreignkey {
    color: green !important;
    background-color: white;
}

.ri_jqtree_magenta {
    color: magenta !important;
}

.ri_jqtree_blue {
    color: blue !important;
}

.ri_jqtree_green {
    color: green !important;
}

.ri_jqtree_red {
    color: red !important;
}

.ri_jqtree_change {
    color: blue !important;
    background-color: white;
}