form label{
    padding: 0px !important;
    margin-left: 0px !important;
}

input:focus{
    border:2px solid #719ECE !important;
    box-shadow: 0 0 10px #719ECE !important;
}

select:focus {
    border:2px solid #719ECE !important;
    box-shadow: 0 0 10px #719ECE !important;
}

select {
    display: block;
    width: 100% !important;
}

input {
    display: block;
    width: 100% !important;
}

input[type="radio"] {
    display: inline;
    width: initial !important;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    display: block;
    width: 100% !important;
    padding: 5px 5px !important;
    background-image: url('../stg/images/ui-bg_glass_75_cccccc_1x400.png') !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    background-size: initial !important;
    background-repeat-x: repeat !important;
    background-repeat-y: no-repeat !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: rgb(204, 204, 204) !important;
    border: 1px solid #999999 !important;
    color: #676767 !important;
} 

form input[type="text"], form input[type="number"], form select, input[type="password"]{
    margin-left: 0px !important;
}

.row button {
    margin-left: 0px !important;
}

/** 
*
* jquery datepicker simil STG
*
*/

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-datepicker-year, .ui-datepicker-month{
    border: 1px solid #999999;
    background: #cccccc url('../stg/images/ui-bg_glass_75_cccccc_1x400.png') 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
}

.ui-widget-content {
    border: 1px solid #DDDDDD;
    background: #EEEEEE url('../stg/images/ui-bg_highlight-hard_75_EEEEEE_1x100.png') 50% top repeat-x;
    color: #333333;
}

.ui-datepicker-year, ui-datepicker-month{
    color: #555555;
}

.ui-widget-header {
    background: #8b8d8e;
    color: #FFFFFF;
    font-weight: bold;
}
