{% extends '::base.html.twig' %} 

{% block customErrors %} {% block barraHerramientas %}

<li id="ver_ayuda" title="Clic para ver ayuda" class="ui-state-default ui-corner-all">
    <span onclick="ventana_modal(
                '{{ path(path_ayuda) }}', 
                'dialog-message-info', 
                'Ayuda',
                400,
                300,
                '',
                '',
                true);" class="ui-icon ui-icon-info"> 
    </span>
</li>

{% endblock %} 

{% block menu %} 
    
    {% block submenus %} 
    
    {% endblock %} 

{% endblock %} 

{% block cuerpo %}
<div>
	<div class="ui-widget">
		<div style="padding: 10px; margin-top: 20px; margin-bottom: 20px" class="ui-state-error ui-corner-all">
			<p>
				<span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"> </span> 
                                <strong> {% block tituloError%} {% endblock %} </strong> 
                                 {% block mensajeError %} {% endblock %}
			</p>
		</div>
	</div>
</div>
{% endblock %} 


{% block jquery %} {{parent()}} {% endblock %}

{% endblock %}