<div class="footer">
    <div class="row-back-none">
        <div class="footer_datos">                
{#            <div>#}
            <p><b>{{ pie_pagina_titulo }}</b></p>
            <p>{{ pie_pagina_domicilio }}</p>
            <p>{{ pie_pagina_telefono }}</p>
            {{ pie_pagina_copyright }}
        </div>
    </div>
</div>
